@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
html {
  scroll-behavior: smooth;
}

body {
  @apply bg-light-gray text-secondary-dark font-sans;
  min-height: 100vh; /* Ensure body takes full viewport height */
  display: flex;
  flex-direction: column;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}